blinker
certifi
charset-normalizer
click
contourpy
cycler
defusedxml
Flask
flask-cors
fonttools
idna
itsdangerous
Jinja2
jsonify
kiwisolver
MarkupSafe
matplotlib
networkx
numpy
opencv-python
openvino
openvino-dev
openvino-telemetry
packaging
pillow
pyparsing
pytesseract
python-dateutil
PyYAML
requests
six
tqdm
urllib3
Werkzeug
